*,
    *:before,
    *:after{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body{
        background-color: #080710;
    }
    form{
        height: auto;
        width: 400px;
        background-color: rgba(5, 5, 5, 0.13);
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        border-radius: 10px;
        box-shadow: 0 0 40px rgba(8,7,16,0.6);
        display: none;
        padding: 15px;
    }
  form.active {
      display: block;
  }

  .toggle-btn {
      background-color: gray ;
      border: none;
      color: #eceff1;
      margin-top: 15px;
      cursor: pointer;
      width: 250px;
      border-radius: 10px;
  }
    form *{
        font-family: 'Poppins',sans-serif;
        color: #ffffff;
        letter-spacing: 0.5px;
        outline: none;
        border: none;
    }
    form h3{
        font-size: 32px;
        font-weight: 500;
        line-height: 42px;
        text-align: center;
    }
    
    label{
        display: block;
        margin-top: 30px;
        font-size: 16px;
        font-weight: 500;
    }
    input{
        display: block;
        height: 50px;
        width: 100%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 3px;
        padding: 0 10px;
        font-size: 14px;
        font-weight: 300;
    }
    ::placeholder{
        color: #e5e5e5;
    }
    button{
        width: 100%;
        background-color: #ffffff;
        color: #080710;
        padding: 15px 0;
        font-size: 18px;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 15px;
    }
    form select {
        height: 50px;
        width: 75%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 3px;
        padding: 0 10px;
        font-size: 14px;
        font-weight: 300;
    }
    option{
        background-color: #fff;
        color: #333;
        font-size: 14px;
        padding: 10px; 
    }

